@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: '#F6F6F6';
  --main-color: '#F0DB4F';
  --main-text-color: '#474747';
}

body {
  color: var(--main-text-color);
  background: var(--background);
}