.loading {
  background: linear-gradient(90deg, #F0F0F0 0%, #F0F0F0 45%, #F6F3DB 50%, #F0F0F0 55%, #F0F0F0 100%);
  background-size: 200%;
  background-position: 90%;
  animation: gradient 2.5s infinite;
}

@keyframes gradient {
  0% {
    background-position: 120%;
  }

  100% {
    background-position: -20%;
  }
}